/* Global Variables */

$primary: #72f4e3;
$secondary: #129bc8;

$text-primary: #393f4a;
$text-secondary: #727272;

/*
$fa-font-path : '/assets/fonts';
@import "../../node_modules/@fortawesome/fontawesome-free-webfonts/scss/fontawesome.scss";
@import "../../node_modules/@fortawesome/fontawesome-free-webfonts/scss/fa-solid.scss";
*/