<div class="card">
  <div class='portrait'></div>
  <h3 class='name'>Tobias Merz</h3>
  <p class='slogan'>GIS Expert and Web Developer</p>
  <hr />
  <div class='socialContainer'>
    <a class="social_icon" href="mailto:info@tmerz.com">
      <fa-icon [icon]="faEnvelope"></fa-icon>
    </a>
    <a class="social_icon" href="https://www.xing.com/profile/Tobias_Merz14/cv" target="_blank" rel="noopener noreferrer">
      <fa-icon [icon]="faXing"></fa-icon>
    </a>
    <a class="social_icon" href="https://www.linkedin.com/in/tobiasmerz" target="_blank" rel="noopener noreferrer">
      <fa-icon [icon]="faLinkedin"></fa-icon>
    </a>
    <a class="social_icon" href="https://github.com/tobi238" target="_blank" rel="noopener noreferrer">
      <fa-icon [icon]="faGithub"></fa-icon>
    </a>
  </div>
</div>
