@import '~sass/variables';

.card {
	position: relative;
	z-index: 9999;
	padding: 1em;
	text-align: center;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

	transition: all 0.3s cubic-bezier(.25,.8,.25,1);

	transform-style: preserve-3d;
	backface-visibility: hidden;
	transform-origin: top;
	transform: rotateX(-90deg) translateY(-100%);

	&:hover {
		box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	}

	&.show {
		animation: flipDown 0.5s 1 forwards;
		@keyframes flipDown {
			40% {
				transform: rotateX(0deg) translateY(-20%);
			}
			50% {
				transform: rotateX(-20deg);
			}
			80% {
				transform: rotateX(-40deg);
			}
			100% {
				transform: rotateX(0deg) translateY(0%);
			}
		}
	}

	.portrait {
		position: relative;
		margin: 0 auto;
		width: 20vh;
		height: 20vh;
		min-width: 100px;
		min-height: 100px;
		max-width: stretch;
		background: url('/assets/img/tobias_merz.jpg') no-repeat;
		background-position: center center;
		background-size: cover;
		border-radius: 100%;
		filter: grayscale(100%)
	}


	.name, .slogan {
		font-weight: 200;
		letter-spacing: 1px;
	}

	.name {
		font-size: 1.5rem;
		color: $text-primary;
	}

	.slogan {
		font-size: 1.1rem;
		margin-top: 1em;
		color: $text-secondary;
	}

	hr {
		height: 1px;
		border: none;
		background-color: $text-secondary;
	}

	.socialContainer {
		display: flex;
		justify-content: space-around;
		margin-top: 2em;
		a {
			transition: transform .3s cubic-bezier(.25,.8,.25,1);
			font-size: 2em;
			transform: scale(0);
			color: $text-secondary;
			&.show {
				transform: scale(1);
			}
			&:hover {
				transform: scale(1.2);
				color: $text-primary;
			}
			
		}
	}
}

.map {
	position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100%;
	width: 100%;
	background-color: black;
	pointer-events: none;
}

.map:after, .page_loading {
	content: '';
	position: absolute;
	width: 100vw;
	height: 100vh;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: 9998;
	background: linear-gradient(to bottom, rgba($primary, 0.7), rgba($secondary, 0.7)) no-repeat;
	background-position: center center;
	background-size: cover;
}

.page_loading {
	background: linear-gradient(to bottom, $primary, $secondary) no-repeat;
	background-color: black;

	&.loaded {
		animation: fadeOut .3s ease-out forwards;
	}

	@keyframes fadeOut {
		0% {
			opacity: 1;
		}
		100% {
			opacity: 0;
		}
	}
}