<div class="page_loading" *ngIf="start.loading" [ngClass]="{loaded: start.loaded}"></div>

<div *ngIf="!start.loading" class="{{ showCard ? 'card show' : 'card' }}">
  <div class='portrait'></div>
  <h3 class='name'>Tobias Merz</h3>
  <p class='slogan'>GIS Expert and Web Developer</p>
  <hr/>
  <div class='socialContainer'>
    <a class="{{showSocials ? 'show' : ''}}" href="mailto:info@tmerz.com">
      <i class="fas fa-envelope"></i>
    </a>
    <a class="{{showSocials ? 'show' : ''}}" href="https://www.xing.com/profile/Tobias_Merz14/cv" target="_blank" rel="noopener noreferrer">
      <i class="fab fa-xing"></i>
    </a>
    <a class="{{showSocials ? 'show' : ''}}" href="https://www.linkedin.com/in/tobiasmerz" target="_blank" rel="noopener noreferrer">
      <i class="fab fa-linkedin"></i>
    </a>
    <a class="{{showSocials ? 'show' : ''}}" href="https://github.com/tobi238" target="_blank" rel="noopener noreferrer">
      <i class="fab fa-github"></i>
    </a>
  </div>
</div>
<div id='map' class='map' [ngClass]="{loading: start.loading}"></div>
